.land {
    fill: rgb(233, 233, 233);
    stroke: #fff;
    stroke-width: 0.3;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.title {
	fill: black;
	font: 25px sans-serif;
	font-weight: bold;
	text-anchor: middle;
}

div.tooltip {
    position: absolute;			
    text-align: center;	
    opacity: 0.8;	
    color: white;		
    /* padding: 10px;	
    padding-bottom: 100px;			 */
    font: 12px sans-serif;		
    background: #000;	
    /* border: 10px solid black;		 */
    border-radius: 25px;			
    pointer-events: none;	
}

.border {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.bubble {
    fill-opacity: .8;
    stroke: #fff;
    stroke-width: .5px;
}

.bubble :hover {
    fill-opacity: .1;
    stroke: #000;
    stroke-width: 3px;

}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}

 .c3 .c3-axis-x path,
 .c3 .c3-axis-x line,

 .c3 .c3-axis-y path,
 .c3 .c3-axis-y line {
    stroke: white;
}

 .c3 .c3-axis-x g,
 .c3 .c3-axis-y g,
 .c3 .c3-legend-item text {
    fill: whitesmoke;
}